<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href=@Assets["_content/MudBlazor/MudBlazor.min.css"] rel="stylesheet" />
    <ImportMap />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
    <script src=@Assets["_content/MudBlazor/MudBlazor.min.js"]></script>
    <script>
        function downloadFileFromBlazor(filename, contentType, base64) {
            const link = document.createElement('a');
            link.download = filename;
            link.href = `data:${contentType};base64,${base64}`;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>
    <script src="js/localStorageHelper.js"></script>
    <script>
        window.triggerFileInputClick = function (id) {
            document.getElementById(id).click();
        };

        window.readUploadedJson = async function (inputId) {
            const input = document.getElementById(inputId);
            if (!input || !input.files.length) return null;

            const file = input.files[0];
            const text = await file.text();
            return text;
        };
    </script>
    <script>
        window.downloadFile = (filename, base64) => {
            const link = document.createElement("a");
            link.download = filename;
            link.href = "data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64," + base64;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        };
    </script>


</body>

</html>
